{% extends "bootstrap/base.html" %}

{% block title %}Todo Familial{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
               data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Todo Familial</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Acceuil</a></li>
        {% if session['user_email'] %}
          <li><a href="{{ url_for('list_tasklists') }}">Listes</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Tâches</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('list_tasks_for_me') }}">À Faire Par Moi</a></li>
                <li><a href="{{ url_for('list_tasks_for_all') }}">De Tout le Monde</a></li>
                <li><a href="{{ url_for('list_tasks_not_assigned') }}">Qui Ne Sont Pas Assignées</a></li>
                <li><a href="{{ url_for('list_tasks_no_sched') }}">Qui N'Ont Pas De Cédule</a></li>
                <li><a href="{{ url_for('list_tasks_inactive') }}">Qui Sont Inactives</a></li>
            </ul>
          <li><a href="{{ url_for('list_tags') }}">Étiquettes</a></li>
          <li><a href="{{ url_for('list_users') }}">Utilisateurs</a></li>
          <li><a href="{{ url_for('logout') }}">Déconnecter</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Connecter</a></li>
          <li><a href="{{ url_for('register') }}">Enrégistrer</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block page_content %} {% endblock %}
</div>
{% endblock %}