{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Supprimer une Liste de tâches</h1>
    </div>

    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <h4>
            <em>Voulez-vous vraiment supprimer cette liste?</em>
            <br>
            <br>
            Liste de tâche: {{ list_name }}
        </h4>
        <p>&nbsp;</p>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Supprimer">
        <a href="{{ url_for('list_tasklists') }}" class="btn btn-default">Annuler</a>
    </form>
</div>
{% endblock %}