{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Listes de tâches</h1>
    </div>
    <p>
        {% if tasklists %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Non de la liste</th>
                    <th>Créé par</th>
                    <th>Créé le</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for tasklist in tasklists %}
                    <tr>
                        <td><a href="{{ url_for('show_tasklist', list_id=tasklist['list_id']) }}">
                            {{ tasklist['list_name'] }}</a></td>
                        <td>{{ tasklist['audit_crt_user'] }}</td>
                        <td>{{ tasklist['audit_crt_ts'] }}</td>
                        <td class="text-center"><a href="{{ url_for('upd_tasklist', list_id=tasklist['list_id']) }}"
                            class="btn btn-primary btn-xs" data-title="Modifier">
                            <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="{{ url_for('del_tasklist', list_id=tasklist['list_id']) }}"
                            class="btn btn-danger btn-xs" data-title="Supprimer">
                            <span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de liste dans la base de données</em>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('add_tasklist') }}" class="btn btn-default">Ajouter une liste</a>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>
{% endblock %}