{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Tâches Sans Cédules</h1>
    </div>
    <p>
        {% if tasks %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Liste</th>
                    <th>Tâche</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.list_name }}</td>
                        <td>
                            <a href="{{ url_for('upd_task', task_id=task.task_id) }}">{{ task.task_name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de tâche qui n'ont pas de cédule.</em>
        {% endif %}
    </p>
    <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>
</div>
{% endblock %}