{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Tâches pour tout le monde</h1>
    </div>
    <p>
        {% if tasks %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tâche</th>
                    <th>Cédule</th>
                    <th>Pour</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <a href="{{ url_for('upd_task', task_id=task.task_id) }}">{{ task.task_name }}</a>
                        </td>
                        {% if task.sched_type == 'w' %}
                            <td>Hebdomadaire, le {{ dow[task.sched_dow] }}</td>
                        {% elif task.sched_type == 'm' %}
                            <td>Mensuelle, le jour {{ task.sched_dom }} du mois</td>
                        {% elif task.sched_type == 'D' %}
                            <td>À chaque {{ task.sched_int }} jours</td>
                        {% elif task.sched_type == 'W' %}
                            <td>À chaque {{ task.sched_int }} semaines, le {{ dow[task.sched_dow] }}</td>
                        {% elif task.sched_type == 'M' %}
                            <td>À chaque {{ task.sched_int }} mois, le jour {{ task.sched_dom }} du mois</td>
                        {% else %}
                            <td>{{ sched_types[task.sched_type] }}</td>
                        {% endif %}
                        <td>{{ task.first_name }}</td>
                        <td>{{ task.sched_dt }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de tâche pour {{ user.first_name }}.</em>
        {% endif %}
    </p>
    <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>
</div>
{% endblock %}