{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste de Étiquettes</h1>
    </div>
    <p>
        {% if tags %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Non de l'étiquette</th>
                    <th>Créé par</th>
                    <th>Créé le</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td><a href="{{ url_for('show_tag', tag_id=tag['tag_id']) }}">
                            {{ tag['tag_name'] }}</a></td>
                        <td>{{ tag['audit_crt_user_name'] }}</td>
                        <td>{{ tag['audit_crt_ts'] }}</td>
                        <td class="text-center"><a href="{{ url_for('upd_tag', tag_id=tag['tag_id']) }}"
                            class="btn btn-primary btn-xs" data-title="Modifier">
                            <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="text-center"><a href="{{ url_for('del_tag', tag_id=tag['tag_id']) }}"
                            class="btn btn-danger btn-xs" data-title="Supprimer">
                            <span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas d'étiquette dans la base de données</em>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('add_tag') }}" class="btn btn-default">Ajouter une étiquette</a>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>
{% endblock %}