{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Utilisateurs</h1>
    </div>
    <p>
        {% if app_users %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Courriel</th>
                    <th class="text-center">Activé</th>
                    {% if admin_user %}
                        <th class="text-center">Activer/Désactiver</th>
                        <th class="text-center">Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in app_users %}
                    <tr>
                        <td>{{ user['first_name'] }}</td>
                        <td>{{ user['last_name'] }}</td>
                        <td>{{ user['user_email'] }}</td>
                        {% if user.activated_ts %}
                            <td class="text-center">Oui</td>
                            {% if user['user_email'] == admin_user['user_email'] %}
                                <td class="text-center">N/A</td>
                            {% else %}
                                {% if admin_user %}
                                    <td class="text-center"><a href="{{ url_for('inact_user', user_id=user['user_id']) }}"
                                        class="btn btn-warning btn-xs" data-title="Désactiver"><span
                                        class="glyphicon glyphicon-remove"></span></a></td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <td class="text-center">Non</td>
                            {% if user['user_email'] == admin_user['user_email'] %}
                                <td class="text-center">N/A</td>
                            {% else %}
                                {% if admin_user %}
                                    <td class="text-center"><a href="{{ url_for('act_user', user_id=user['user_id']) }}"
                                    class="btn btn-primary btn-xs" data-title="Activer"><span
                                    class="glyphicon glyphicon-ok"></span></a></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if admin_user %}
                            {% if user['user_email'] == admin_user['user_email'] %}
                                <td class="text-center">N/A</td>
                            {% else %}
                                {% if admin_user %}
                                    <td class="text-center"><a href="{{ url_for('del_user', user_id=user['user_id']) }}"
                                    class="btn btn-danger btn-xs" data-title="Supprimer"><span
                                    class="glyphicon glyphicon-trash"></span></a></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas d'utilisateur dans la base de données</em>
        {% endif %}
    </p>
    <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>
</div>
{% endblock %}