{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Gérer les Étiquettes</h1>
    </div>
    <h2>Étiquettes Actuelles</h2>
    {% if task_tags %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Enlever</th>
                </tr>
            </thead>
            <tbody>
                {% for t_tag in task_tags %}
                    <tr>
                        <td>{{ t_tag['tag_name'] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('del_ttag', tag_id=t_tag.tag_id, redir_to=1) }}"
                               class="btn btn-danger btn-xs" data-title="Enlever">
                               <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>Cette tâche n'a pas d'étiquette.</em>
    {% endif %}

    <h2>Liste des étiquettes disponibles</h2>
    {% if tags|length > 0 %}
        <p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Ajouter</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag['tag_name'] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('add_ttag', task_id=task_id, tag_id=tag['tag_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Ajouter">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </p>
    {% else %}
        <em>Aucune étiquette disponible pour cette tâche.</em>
    {% endif %}
    <p>&nbsp;</p>
    <a href="{{ url_for('upd_task', task_id=task_id) }}" class="btn btn-default">Retour</a>
</div>
{% endblock %}