{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class="control-label") }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Modifier une Tâche</h1>
    </div>

    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="form-group ">
            {{ render_field(form.task_name, class="form-control") }}
        </div>
        <div class="form-group ">
            {{ render_field(form.task_desc, class="form-control") }}
        </div>
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="Modifier">
        <a href="{{ url_for('upd_tasklist', list_id=list_id) }}" class="btn btn-default">Annuler</a>
    </form>
    <p>&nbsp;</p>

    <h2>Attributions</h2>
    {% if count_assignees > 0 %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Désassigner</th>
                </tr>
            </thead>
            <tbody>
                {% for asgn in task.assignees %}
                    <tr>
                        <td>{{ asgn['user_name'] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('del_asgn', asgn_id=asgn.asgn_id, redir_to=2) }}"
                               class="btn btn-danger btn-xs" data-title="Désassigner">
                               <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>Aucune attribution pour cette tâche.</em>
        <p>
            Cliquer&nbsp<a href="{{ url_for('sel_asgn', task_id=task.task_id) }}">ici</a>&nbsp;pour assigner la tâche.
        </p>
    {% endif %}
    <a href="{{ url_for('sel_asgn', task_id=task.task_id) }}" class="btn btn-default">Gérer ses Attributions</a>
    <a href="{{ url_for('upd_tasklist', list_id=list_id) }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>

    <h2>Cédules</h2>
    {% if count_scheds %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fréquence</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for schd in task.schedules %}
                    <tr>
                        {% if schd.sched_type == 'O' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                    Unique le {{ schd.sched_start_dt }}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_one', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% elif schd.sched_type == 'd' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                {% if schd.sched_end_dt %}
                                    Quotidienne du {{ schd.sched_start_dt }} au {{ schd.sched_end_dt }}
                                {% else %}
                                    Quotidienne à partir du {{ schd.sched_start_dt }}
                                {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_dly', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% elif schd.sched_type == 'w' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                {% if schd.sched_end_dt %}
                                    Hebdomadaire, le {{ dow[schd.sched_dow] }}, du {{ schd['sched_start_dt'] }} au {{ schd['sched_end_dt'] }}
                                {% else %}
                                    Hebdomadaire, le {{ dow[schd.sched_dow] }}, à partir du {{ schd['sched_start_dt'] }}
                                {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_wly', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% elif schd.sched_type == 'm' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                {% if schd.sched_end_dt %}
                                    Mensuelle, le jour {{ schd.sched_dom }} du mois, du {{ schd['sched_start_dt'] }} au {{ schd['sched_end_dt'] }}
                                {% else %}
                                    Mensuelle, le jour {{ schd.sched_dom }} du mois, à partir du {{ schd['sched_start_dt'] }}
                                {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_mly', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% elif schd.sched_type == 'D' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                {% if schd.sched_end_dt %}
                                    À chaque {{ schd.sched_int }} jours, du {{ schd['sched_start_dt'] }} au {{ schd['sched_end_dt'] }}
                                {% else %}
                                    À chaque {{ schd.sched_int }} jours, à partir du {{ schd['sched_start_dt'] }}
                                {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_xdy', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% elif schd.sched_type == 'W' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                {% if schd.sched_end_dt %}
                                    Le {{ dow[schd.sched_dow] }}, à chaque {{ schd.sched_int }} semaines, du {{ schd['sched_start_dt'] }} au {{ schd['sched_end_dt'] }}
                                {% else %}
                                    Le {{ dow[schd.sched_dow] }}, à chaque {{ schd.sched_int }} semaines, à partir du {{ schd['sched_start_dt'] }}
                                {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_xwk', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% elif schd.sched_type == 'M' %}
                            <td>
                                <a href="{{ url_for('list_occurs', sched_id=schd.sched_id) }}">
                                {% if schd.sched_end_dt %}
                                    Le jour {{ schd.sched_dom }} du mois, à chaque {{ schd.sched_int }} mois, du {{ schd['sched_start_dt'] }} au {{ schd['sched_end_dt'] }}
                                {% else %}
                                    Le jour {{ schd.sched_dom }} du mois, à chaque {{ schd.sched_int }} mois, à partir du {{ schd['sched_start_dt'] }}
                                {% endif %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('upd_sched_xmo', sched_id=schd.sched_id) }}"
                                   class="btn btn-primary btn-xs" data-title="Modifier">
                                   <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                        {% else %}
                            <td>Type Inconnu</td>
                        {% endif %}
                        <td class="text-center">
                            <a href="{{ url_for('del_sched', sched_id=schd.sched_id) }}"
                               class="btn btn-danger btn-xs" data-title="Supprimer">
                               <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>Aucune cédule pour cette tâche.</em>
        <p>
            Cliquer&nbsp<a href="{{ url_for('add_sched') }}">ici</a>&nbsp;pour céduler la tâche.
        </p>
    {% endif %}
    <a href="{{ url_for('add_sched') }}" class="btn btn-default">Ajouter une Cédule</a>
    <a href="{{ url_for('upd_tasklist', list_id=list_id) }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>

    <h2>Étiquettes</h2>
    {% if count_tags > 0 %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Enlever</th>
                </tr>
            </thead>
            <tbody>
                {% for t_tag in task.tags %}
                    <tr>
                        <td>{{ t_tag['tag_name'] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('del_ttag', tag_id=t_tag.tag_id, redir_to=2) }}"
                               class="btn btn-danger btn-xs" data-title="Enlever">
                               <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>Aucune étiquette pour cette tâche.</em>
        <p>
            Cliquer&nbsp<a href="{{ url_for('sel_ttag', task_id=task.task_id) }}">ici</a>&nbsp;pour en ajouter.
        </p>
    {% endif %}
    <a href="{{ url_for('sel_ttag', task_id=task.task_id) }}" class="btn btn-default">Gérer ses Étiquettes</a>
    <a href="{{ url_for('upd_tasklist', list_id=list_id) }}" class="btn btn-default">Retour</a>
    <p>&nbsp;</p>

</div>
{% endblock %}
